In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import pytz
import sys

## Pandas Settings

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
np.set_printoptions(threshold=sys.maxsize)

# Import Data

In [2]:
df=pd.read_csv('../Datos/Calidad_Aire/Qualitat_aire.csv')
df.head()

,CODI EOI,NOM ESTACIO,DATA,MAGNITUD,CONTAMINANT,UNITATS,TIPUS ESTACIO,AREA URBANA,CODI INE,MUNICIPI,CODI COMARCA,NOM COMARCA,01h,02h,03h,04h,05h,06h,07h,08h,09h,10h,11h,12h,13h,14h,15h,16h,17h,18h,19h,20h,21h,22h,23h,24h,ALTITUD,LATITUD,LONGITUD,GEOREFERENCIA
0,43047001,Constantí,07/04/2021,14,O3,µg/m3,industrial,suburban,43047,Constantí,36,Tarragonès,90.0,91.0,96.0,91.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56,41.154930,1.217701,POINT (1.2177014 41.15493)
1,8101001,L'Hospitalet de Llobregat,07/04/2021,12,NOX,µg/m3,background,urban,8101,"Hospitalet de Llobregat, l'",13,Barcelonès,10.0,7.0,4.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29,41.370476,2.114999,POINT (2.1149993 41.370476)
2,8169009,El Prat de Llobregat (Sagnier),07/04/2021,1,SO2,µg/m3,background,suburban,8169,"Prat de Llobregat, el",11,Baix Llobregat,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,41.321774,2.082100,POINT (2.0821 41.321774)
3,8102005,Igualada,07/04/2021,12,NOX,µg/m3,industrial,suburban,8102,Igualada,6,Anoia,8.0,7.0,3.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,311,41.578400,1.623006,POINT (1.6230061 41.5784)
4,8019004,Barcelona (Poblenou),07/04/2021,8,NO2,µg/m3,background,urban,8019,Barcelona,13,Barcelonès,7.0,4.0,7.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,41.403880,2.204501,POINT (2.204501 41.40388)

# Filter Data

## Filtrar Comarcas

Listar todas las comarcas:

In [3]:
df['NOM COMARCA'].unique()

array(['Tarragonès', 'Barcelonès', 'Baix Llobregat', 'Anoia',
       'Vallès Occidental', 'Cerdanya', 'Pallars Jussà', 'Baix Camp',
       'Garraf', 'Osona', 'Vallès Oriental', 'Segrià', 'Gironès',
       'Garrigues', 'Maresme', 'Alt Penedès', 'Montsià', 'Pallars Sobirà',
       'Berguedà', 'Ribera d¿Ebre', 'Alt Camp', 'Garrotxa', 'Bages',
       'Baix Empordà', 'Alt Empordà', 'Ripollès', 'Terra Alta',
       'Baix Ebre', 'Noguera', 'Priorat', "Ribera d'Ebre"], dtype=object)

Filtrar comarca de la AMB - (Valles Occidental?):

In [4]:
comarcas=['Barcelonès','Baix Llobregat','Maresme','Vallès Occidental']
df2=df.query("`NOM COMARCA` in @comarcas")

## Filtrar Fechas

Se convierte columna DATA de object a Datetime:

In [5]:
df2.head()

,CODI EOI,NOM ESTACIO,DATA,MAGNITUD,CONTAMINANT,UNITATS,TIPUS ESTACIO,AREA URBANA,CODI INE,MUNICIPI,CODI COMARCA,NOM COMARCA,01h,02h,03h,04h,05h,06h,07h,08h,09h,10h,11h,12h,13h,14h,15h,16h,17h,18h,19h,20h,21h,22h,23h,24h,ALTITUD,LATITUD,LONGITUD,GEOREFERENCIA
1,8101001,L'Hospitalet de Llobregat,07/04/2021,12,NOX,µg/m3,background,urban,8101,"Hospitalet de Llobregat, l'",13,Barcelonès,10.0,7.0,4.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29,41.370476,2.114999,POINT (2.1149993 41.370476)
2,8169009,El Prat de Llobregat (Sagnier),07/04/2021,1,SO2,µg/m3,background,suburban,8169,"Prat de Llobregat, el",11,Baix Llobregat,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,41.321774,2.082100,POINT (2.0821 41.321774)
4,8019004,Barcelona (Poblenou),07/04/2021,8,NO2,µg/m3,background,urban,8019,Barcelona,13,Barcelonès,7.0,4.0,7.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,41.403880,2.204501,POINT (2.204501 41.40388)
5,8019044,Barcelona (Gràcia - Sant Gervasi),07/04/2021,6,CO,mg/m3,traffic,urban,8019,Barcelona,13,Barcelonès,0.2,0.2,0.2,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57,41.398724,2.153399,POINT (2.1533988 41.398724)
6,8184006,Rubí,07/04/2021,12,NOX,µg/m3,background,urban,8184,Rubí,40,Vallès Occidental,3.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,171,41.492115,2.042497,POINT (2.0424972 41.492115)

In [6]:
df2['DATA']= pd.to_datetime(df2['DATA'],format='%d/%m/%Y')

<ipython-input-6-6fd2db8d542f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['DATA']= pd.to_datetime(df2['DATA'],format='%d/%m/%Y')

Filtrar rango de datos a 2018-Hoy:

In [7]:
df3 = df2[(df2['DATA'] >= '01/01/2018')]

Quitar Confinamiento/Estado de Alarma

In [8]:
ini_conf = '13/03/2020'
fin_conf = '21/06/2020'
df3 = df3[(df3['DATA'] < ini_conf) | (df3['DATA'] > fin_conf)]

## Filtrar Municipios

Listar Municipios:

In [9]:
df3.MUNICIPI.unique()

array(["Hospitalet de Llobregat, l'", 'Prat de Llobregat, el',
       'Barcelona', 'Rubí', 'Montcada i Reixac',
       'Santa Coloma de Gramenet', 'Martorell', 'Badalona',
       'Barberà del Vallès', 'Sant Vicenç dels Horts', 'Gavà', 'Mataró',
       'Terrassa', 'Pallejà', 'Sant Cugat del Vallès',
       'Santa Perpètua de Mogoda', 'Sant Andreu de la Barca',
       'Viladecans', 'Sant Adrià de Besòs', 'Sabadell',
       'Sant Feliu de Llobregat'], dtype=object)

In [10]:
municipios=["Hospitalet de Llobregat, l'", 'Prat de Llobregat, el','Barcelona','Montcada i Reixac',
            'Santa Coloma de Gramenet','Badalona','Barberà del Vallès', 'Sant Vicenç dels Horts', 'Gavà',
            'Barberà del Vallès','Pallejà','Sant Cugat del Vallès','Sant Andreu de la Barca','Viladecans',
            'Sant Adrià de Besòs','Sant Feliu de Llobregat']
df4=df3.query("MUNICIPI in @municipios")

In [11]:
df4.head()

,CODI EOI,NOM ESTACIO,DATA,MAGNITUD,CONTAMINANT,UNITATS,TIPUS ESTACIO,AREA URBANA,CODI INE,MUNICIPI,CODI COMARCA,NOM COMARCA,01h,02h,03h,04h,05h,06h,07h,08h,09h,10h,11h,12h,13h,14h,15h,16h,17h,18h,19h,20h,21h,22h,23h,24h,ALTITUD,LATITUD,LONGITUD,GEOREFERENCIA
1,8101001,L'Hospitalet de Llobregat,2021-04-07,12,NOX,µg/m3,background,urban,8101,"Hospitalet de Llobregat, l'",13,Barcelonès,10.0,7.0,4.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29,41.370476,2.114999,POINT (2.1149993 41.370476)
2,8169009,El Prat de Llobregat (Sagnier),2021-04-07,1,SO2,µg/m3,background,suburban,8169,"Prat de Llobregat, el",11,Baix Llobregat,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,41.321774,2.082100,POINT (2.0821 41.321774)
4,8019004,Barcelona (Poblenou),2021-04-07,8,NO2,µg/m3,background,urban,8019,Barcelona,13,Barcelonès,7.0,4.0,7.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,41.403880,2.204501,POINT (2.204501 41.40388)
5,8019044,Barcelona (Gràcia - Sant Gervasi),2021-04-07,6,CO,mg/m3,traffic,urban,8019,Barcelona,13,Barcelonès,0.2,0.2,0.2,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57,41.398724,2.153399,POINT (2.1533988 41.398724)
7,8125013,Montcada i Reixac (Can Sant Joan),2021-04-07,10,PM10,µg/m3,industrial,suburban,8125,Montcada i Reixac,40,Vallès Occidental,31.0,19.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29,41.469826,2.175836,POINT (2.1758358 41.469826)

## Identificacion Contaminantes - Estación

Filtrado 1:

In [12]:
df_est=df4[['CODI EOI','NOM ESTACIO','CONTAMINANT','TIPUS ESTACIO',
            'AREA URBANA','ALTITUD','LATITUD','LONGITUD','GEOREFERENCIA']].drop_duplicates().reset_index(drop=False)

Filtrado para identificar contaminantes de cada estación:

In [13]:
df_est1=df_est[['CODI EOI','NOM ESTACIO','CONTAMINANT']].drop_duplicates().sort_values(axis=0,by=['NOM ESTACIO','CONTAMINANT'])
df_est1.head()

     CODI EOI NOM ESTACIO CONTAMINANT
107   8015021    Badalona          NO
25    8015021    Badalona         NO2
30    8015021    Badalona         NOX
6     8015021    Badalona          O3
56    8015021    Badalona         SO2

Generación DF con contaminantes registrados en cada estación:

In [14]:
estaciones=df_est1['NOM ESTACIO'].unique()
estaciones_contaminates=[]
for i,v in enumerate(estaciones):
    # Filtrar estaciones 
    df_aux=df_est1[df_est1['NOM ESTACIO']==v]
    # Crear lista almacenar contaminantes
    contaminantes=[]
    for i in range(df_aux.shape[0]):
        contaminantes.append(df_aux.iloc[i,2])
    # Almacenar estaciones y contaminate
    estaciones_contaminates.append([df_aux.iloc[0,0],', '.join(contaminantes)])
# Generar DF
df_estaciones_contaminates=pd.DataFrame(estaciones_contaminates,columns=['CODI EOI','Contaminantes'])

Añadimos columna contaminantes a Df de Estaciones:

In [15]:
df_est1=df_est.drop(columns=['index','CONTAMINANT','GEOREFERENCIA'])\
                .drop_duplicates(subset=['CODI EOI'])\
                .sort_values(by=['CODI EOI'])\
                .reset_index(drop=True)
df_est1=df_est1.merge(df_estaciones_contaminates,how='left',on='CODI EOI')

Creamos columna para identificar estaciones con Ozono:

In [16]:
df_est1['Ozono']=np.where(df_est1['Contaminantes'].str.contains('O3'),"Si","No")
df_est1.head()

,CODI EOI,NOM ESTACIO,TIPUS ESTACIO,AREA URBANA,ALTITUD,LATITUD,LONGITUD,Contaminantes,Ozono
0,8015021,Badalona,background,urban,7,41.443985,2.237899,"NO, NO2, NOX, O3, SO2",Si
1,8019004,Barcelona (Poblenou),background,urban,3,41.403880,2.204501,"NO, NO2, NOX, PM10",No
2,8019042,Barcelona (Sants),background,urban,35,41.378780,2.133099,"NO, NO2, NOX",No
3,8019043,Barcelona (Eixample),traffic,urban,26,41.385315,2.153800,"CO, NO, NO2, NOX, O3, PM10, SO2",Si
4,8019044,Barcelona (Gràcia - Sant Gervasi),traffic,urban,57,41.398724,2.153399,"CO, NO, NO2, NOX, O3, PM10, SO2",Si

## Guardado Tipo Estación

In [17]:
df_est1.to_csv('../Datos/Calidad_Aire/Estaciones.csv',sep=";",decimal=".")

# CSV Mediciones

Selección Atributos de Interes:

In [18]:
df_med=df4[['CODI EOI','NOM ESTACIO','CONTAMINANT','UNITATS','DATA','01h', '02h', '03h', '04h', '05h', '06h', '07h', '08h',
       '09h', '10h', '11h', '12h', '13h', '14h', '15h', '16h', '17h', '18h',
       '19h', '20h', '21h', '22h', '23h', '24h']]

Colapsar columnas de mediciones a filas:

In [19]:
df_med=pd.melt(df_med, id_vars=['CODI EOI','NOM ESTACIO','CONTAMINANT','UNITATS','DATA'],
               value_vars=['01h', '02h', '03h', '04h', '05h', '06h', '07h', '08h','09h', '10h', '11h', '12h', 
                           '13h', '14h', '15h', '16h', '17h', '18h','19h', '20h', '21h', '22h', '23h', '24h'])

Ordenación columnas:

In [20]:
df_med=df_med.sort_values(by=['DATA','variable'],ascending=False)

In [21]:
df_med.head()

,CODI EOI,NOM ESTACIO,CONTAMINANT,UNITATS,DATA,variable,value
2937836,8101001,L'Hospitalet de Llobregat,NOX,µg/m3,2021-04-07,24h,NaN
2937837,8169009,El Prat de Llobregat (Sagnier),SO2,µg/m3,2021-04-07,24h,NaN
2937838,8019004,Barcelona (Poblenou),NO2,µg/m3,2021-04-07,24h,NaN
2937839,8019044,Barcelona (Gràcia - Sant Gervasi),CO,mg/m3,2021-04-07,24h,NaN
2937840,8125013,Montcada i Reixac (Can Sant Joan),PM10,µg/m3,2021-04-07,24h,NaN

## Preprocesar hora:

In [22]:
df_med.rename(columns={"variable": "HORA"},inplace=True)

Convertir columna variable a category:

In [23]:
df_med['HORA'] = df_med['HORA'].astype("category")

In [24]:
df_med['HORA'].unique()

['24h', '23h', '22h', '21h', '20h', ..., '05h', '04h', '03h', '02h', '01h']
Length: 24
Categories (24, object): ['24h', '23h', '22h', '21h', ..., '04h', '03h', '02h', '01h']

Renombrar categorías:

In [25]:
# Mapeamos categorías viejas a nuevas
d = {'01h': '00:00:00','02h': '01:00:00','03h': '02:00:00','04h': '03:00:00','05h': '04:00:00','06h': '05:00:00',
     '07h': '06:00:00','08h': '07:00:00','09h': '08:00:00','10h': '09:00:00','11h': '10:00:00','12h': '11:00:00',
     '13h': '12:00:00','14h': '13:00:00','15h': '14:00:00','16h': '15:00:00','17h': '16:00:00','18h': '17:00:00',
     '19h': '18:00:00','20h': '19:00:00','21h': '20:00:00','22h': '21:00:00','23h': '22:00:00','24h': '23:00:00'}
# Cambiamos nombres de categorías
df_med['HORA'] = df_med['HORA'].map(d)

Cambiar tipo de columna DATA y HORA:

In [26]:
df_med = df_med.astype({'DATA': 'string', 'HORA': 'string'})

Generar String Fecha uniendo DATA y HORA:

In [27]:
df_med['FECHA'] = df_med['DATA'] + ' ' + df_med['HORA']

Convertir string FECHA a datetime:

In [28]:
df_med['FECHA'] = pd.to_datetime(df_med['FECHA'],format='%Y-%m-%d %H:%M:%S')

Eliminamos registros FECHA de CAMBIO HORARIO:

In [29]:
df_med.drop(df_med[df_med['FECHA']=='2021-03-28 02:00:00'].index,inplace=True)
df_med.drop(df_med[df_med['FECHA']=='2020-03-29 02:00:00'].index,inplace=True)
df_med.drop(df_med[df_med['FECHA']=='2019-03-31 02:00:00'].index,inplace=True)
df_med.drop(df_med[df_med['FECHA']=='2018-03-25 02:00:00'].index,inplace=True)

Conversión Timestamp a UTC:

In [30]:
df_med['FECHA_UTC'] = df_med['FECHA'].dt.tz_localize('Europe/Madrid',ambiguous=False).dt.tz_convert('UTC')

Identificar día de la semana:

In [31]:
df_med['DIA'] = df_med['FECHA'].dt.dayofweek

Identificar si día es laboral o festivo:

In [32]:
df_med['TIPO_DIA'] = np.where((df_med['DIA']==5) | (df_med['DIA']==6),"Festivo","Laboral")

Borrar Columnas:

In [33]:
df_med.drop(['DATA','HORA'],axis=1,inplace=True)
df_med.reset_index(drop=True,inplace=True)

In [34]:
df_med.head()

,CODI EOI,NOM ESTACIO,CONTAMINANT,UNITATS,value,FECHA,FECHA_UTC,DIA,TIPO_DIA
0,8101001,L'Hospitalet de Llobregat,NOX,µg/m3,NaN,2021-04-07 23:00:00,2021-04-07 21:00:00+00:00,2,Laboral
1,8169009,El Prat de Llobregat (Sagnier),SO2,µg/m3,NaN,2021-04-07 23:00:00,2021-04-07 21:00:00+00:00,2,Laboral
2,8019004,Barcelona (Poblenou),NO2,µg/m3,NaN,2021-04-07 23:00:00,2021-04-07 21:00:00+00:00,2,Laboral
3,8019044,Barcelona (Gràcia - Sant Gervasi),CO,mg/m3,NaN,2021-04-07 23:00:00,2021-04-07 21:00:00+00:00,2,Laboral
4,8125013,Montcada i Reixac (Can Sant Joan),PM10,µg/m3,NaN,2021-04-07 23:00:00,2021-04-07 21:00:00+00:00,2,Laboral

# FILTRADO NO2 y O3 || PREPARACION DF

Filtrado moléculas objetivo:

In [35]:
df_med1 = df_med[(df_med['CONTAMINANT']=='NO2') | (df_med['CONTAMINANT']=='O3')].reset_index(drop = True)

In [36]:
df_med1[['CODI EOI','NOM ESTACIO']].drop_duplicates()

    CODI EOI                               NOM ESTACIO
0    8019004                      Barcelona (Poblenou)
1    8245012                  Santa Coloma de Gramenet
2    8015021                                  Badalona
3    8101001                 L'Hospitalet de Llobregat
4    8263001            Sant Vicenç dels Horts (Ribot)
5    8019057                   Barcelona (Palau Reial)
6    8089005                                      Gavà
7    8019043                      Barcelona (Eixample)
8    8157003                  Pallejà (Roca de Vilana)
9    8019044         Barcelona (Gràcia - Sant Gervasi)
10   8169009            El Prat de Llobregat (Sagnier)
12   8252006                        Barberà del Vallès
14   8125002                         Montcada i Reixac
15   8263007                    Sant Vicenç dels Horts
18   8205002                     Sant Cugat del Vallès
19   8019054              Barcelona (Parc Vall Hebron)
20   8196001                   Sant Andreu de la Barca
22   8019058             Barcelona (Observatori Fabra)
23   8194008                       Sant Adrià de Besòs
24   8019050                    Barcelona (Ciutadella)
29   8301004                       Viladecans - Atrium
31   8169008  El Prat de Llobregat (Jardins de la Pau)
34   8019042                         Barcelona (Sants)

Spread columna de contaminantes y selección columnas a retener:

In [37]:
df_aux = df_med1.pivot(index = ['CODI EOI','NOM ESTACIO','FECHA','DIA','TIPO_DIA'],columns='CONTAMINANT',values='value')
df_aux.reset_index(drop = False,inplace = True)

Eliminación nulos:

In [38]:
listNull = []
for i,v in enumerate(df_aux['CODI EOI'].unique()):
    df_aux_aux1 = df_aux[df_aux['CODI EOI']==v]
    listNull.append([v,df_aux_aux1.shape[0],df_aux_aux1.isna().sum()[3]])
df_auxNull = pd.DataFrame(listNull,columns=['CODI EOI','NumRows','Nulls'])
df_auxNull['%Null'] = ((df_auxNull['Nulls']/df_auxNull['NumRows'])*100).round(2)
df_auxNull

    CODI EOI  NumRows  Nulls  %Null
0    8015021    26205      0    0.0
1    8019004    26205      0    0.0
2    8019042    26037      0    0.0
3    8019043    26205      0    0.0
4    8019044    26205      0    0.0
5    8019050    26181      0    0.0
6    8019054    26109      0    0.0
7    8019057    25461      0    0.0
8    8019058    24525      0    0.0
9    8089005    26205      0    0.0
10   8101001    25725      0    0.0
11   8125002    26085      0    0.0
12   8157003    25677      0    0.0
13   8169008    26037      0    0.0
14   8169009    26133      0    0.0
15   8194008    26205      0    0.0
16   8196001    26181      0    0.0
17   8205002    26205      0    0.0
18   8245012    26157      0    0.0
19   8252006    26085      0    0.0
20   8263001    26133      0    0.0
21   8263007    25653      0    0.0
22   8301004    26181      0    0.0

In [39]:
df = df_aux.dropna(subset=['NO2','O3'])

Contart registros por estación:

In [40]:
df.groupby('CODI EOI').count()

CONTAMINANT  NOM ESTACIO  FECHA    DIA  TIPO_DIA    NO2     O3
CODI EOI
8015021            25597  25597  25597     25597  25597  25597
8019043            25092  25092  25092     25092  25092  25092
8019044            25567  25567  25567     25567  25567  25567
8019050            25334  25334  25334     25334  25334  25334
8019054            25156  25156  25156     25156  25156  25156
8019057            22728  22728  22728     22728  22728  22728
8019058            23158  23158  23158     23158  23158  23158
8089005            25811  25811  25811     25811  25811  25811
8125002            24996  24996  24996     24996  24996  24996
8169009            25315  25315  25315     25315  25315  25315
8194008            25371  25371  25371     25371  25371  25371
8205002            25118  25118  25118     25118  25118  25118
8263001            25184  25184  25184     25184  25184  25184
8301004            25609  25609  25609     25609  25609  25609

# Guardado:

In [41]:
#no2.to_csv('../Datos/Datos_Procesados/Mediciones_AMB_NO2.csv',index=None)
#o3.to_csv('../Datos/Datos_Procesados/Mediciones_AMB_O3.csv',index=None)

In [42]:
df.to_csv('../Datos/Datos_Procesados/Mediciones_AMB_NO2_O3.csv',index=None)